﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cadetblue;
    font-size: medium;
    font-family: 'Times New Roman';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menu {
    position: absolute;
    background-color: cadetblue;
    padding-bottom: 15%;
    padding-left: 35%;
    padding-top: 15%;
    padding-right: 25%;
    
}

.menulabel {
    width: 90px;
    height: 10px;
    font-family: 'Times New Roman';
    color: darkblue;
}

.menutext {
    width: 200px;
    height: 30px;
}

footer {
    padding-bottom: 1%;
    padding-top: 90%;
    

}

table {
  border:solid;
 
  font-family: 'Times New Roman';
  color: darkblue;
}

.divtablas {
  
    position: absolute;
    background-color: white;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-top:  5%;
    padding-right: 5%;
    box-shadow: initial;
}

.mostrarpantalla {
    position: absolute;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-top: 1%;
    padding-right: 15%;
    box-shadow: unset;
}

.stilobody 
{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cadetblue;
    font-size: medium;
    font-family: 'Times New Roman';
}

.layoutreportes {
    position: absolute;
    background-color: cadetblue;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 60%;
   
}

.reportes {
    position: absolute;
    background-color: white;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 10px 10px darkblue;
}

.shadowblue {
    box-shadow: 10px 10px 10px 10px darkblue;
}
}
