﻿@model ADMONSKYPAGINAWEB.Models.EMPLEADO

@{
    ViewBag.Title = "EMPLEADO";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>EMPLEADO</h3>
    </div>
</div>
<div class="form-horizontal">
    <h4>EMPLEADO</h4>
    <hr />

    <div class="form-group">

        <label class="control-label col-md-2">NOMBRE</label>

        <div class="col-md-10">
            <input type="text" name="txtnombre" id="txtnombre" size="100" maxlength="100" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">APELLIDO</label>

        <div class="col-md-10">
            <input type="text" name="txtapellido" id="txtapellido" size="100" maxlength="100" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">DIRECCION</label>

        <div class="col-md-10">
            <input type="text" name="txtdireccion" id="txtdireccion" size="250" maxlength="250" class="form-control" width="250" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Estado</label>
        <div class="col-md-10">
            <select name="selestado" id="selestado" class="form-control">
                <option value="A">ACTIVO</option>
                <option value="I">INACTIVO</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Nuevo" id="btnnuevoempleado" name="btnnuevoempleado" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/EMPLEADO.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}