﻿@model List<ADMONSKYPAGINAWEB.Models.EMPLEADO>

@{
    ViewBag.Title = "EMPLEADO";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>EMPLEADO</h3>
    </div>
</div>
@{

    //LENGUAJE DE SERVIDOR C#
    List<ADMONSKYPAGINAWEB.Models.EMPLEADO> EMPLEADO = ViewBag.EMPLEADO;
}

<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">

@foreach (var eMPLEADO in EMPLEADO)
{

    <h2>ESTA SEGURO DE ELIMINAR EL USUARIO @eMPLEADO.NOMBRE.ToString().TrimEnd() CODIGO @eMPLEADO.ID_EMPLEADO.ToString().TrimEnd()</h2>

}

<div>
    <input type="hidden" id="idempleado" value="
        @foreach (var eMPLEADO in EMPLEADO)
{

 @eMPLEADO.ID_EMPLEADO.ToString().TrimEnd()

}
  " />
    <hr />
    @foreach (var eMPLEADO in EMPLEADO)
    {

        <dl class="dl-horizontal">


            <dt>
                NOMBRE:
            </dt>

            <dd>

                @eMPLEADO.NOMBRE.ToString().TrimEnd()
            </dd>

            <dt>
                APELLIDO:
            </dt>

            <dd>
                @eMPLEADO.APELLIDO.ToString().TrimEnd()
            </dd>


        </dl>

    }




    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" id="bteliminarempleado" class="btn btn-block btn-success" />
        @Html.ActionLink("Regresar", "Index")
    </div>

</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/Eliminaciones.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
