﻿

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<br />
<div class="card text-dark " style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>USUARIO</h3>
    </div>
</div>
<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<div class="form-horizontal">
    <h4>USUARIO</h4>
    <hr />

    <div class="form-group">

        <label class="control-label col-md-2">Usuario</label>

        <div class="col-md-10">
            <input type="text" name="txtusuario" id="txtusuario" size="100" maxlength="100" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Contraseña</label>

        <div class="col-md-10">
            <input type="text" name="txtclave" id="txtclave" size="11" maxlength="11" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Rol</label>
        <div class="col-md-10">
            <select name="selrol" id="selrol" class="form-select">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Empleado</label>
        <div class="col-md-10">
            <select name="selempleado" id="selempleado" class="form-select" " ></select>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2">Estado</label>
        <div class="col-md-10">
            <select name="selestado" id="selestado" class="form-control">
                <option value="A">ACTIVO</option>
                <option value="I">INACTIVO</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Nuevo" id="btnnuevousuario" name="btnnuevousuario" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/Usuario.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}