﻿@model List<ADMONSKYPAGINAWEB.Models.USUARIO>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}

<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<br />
<div class="card text-dark " style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>USUARIO</h3>
    </div>
</div>

@{
    //LENGUAJE DE SERVIDOR C#
    List<ADMONSKYPAGINAWEB.Models.USUARIO> Usuario = ViewBag.USUARIO;
}



<div class="form-horizontal">
    @foreach (var usuario in Usuario)
    {

        <h2>ACTUALIZAR DATOS DE USUARIO @usuario.NOMBRE CODIGO @usuario.ID_USUARIO</h2>

    }

    <hr />

    <div class="form-group">
        <input type="hidden" id="idusuario" value="
                @foreach (var usuario in Usuario)
                {

                    @usuario.ID_USUARIO.ToString().TrimEnd();

                }
                 ">
        <label class="control-label col-md-2">Usuario</label>

        <div class="col-md-10">
            <input type="text" name="txtusuario" id="txtusuario" size="100" maxlength="100" class="form-control" value="
                       @foreach (var usuario in Usuario)
                {

                        @usuario.NOMBRE.ToString().TrimEnd();

                }
                       " />


        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Contraseña</label>

        <div class="col-md-10">
            <input type="text" name="txtclave" id="txtclave" size="11" maxlength="11" class="form-control" value="
                @foreach (var usuario in Usuario)
                {

                    @usuario.CLAVE.ToString().TrimEnd();

                }
                       " />




        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Rol</label>
        <div class="col-md-10">
            <select name="selrol" id="selrol" class="form-select">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Empleado</label>
        <div class="col-md-10">
            <select name="selempleado" id="selempleado" class="form-select" " ></select>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2">Estado</label>
        <div class="col-md-10">
            <select name="selestado" id="selestado" class="form-control">
                <option value="A">ACTIVO</option>
                <option value="I">INACTIVO</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Actualizar" id="tbactualizar" name="tbactualizar" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/Usuario.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}