﻿@model ADMONSKYPAGINAWEB.Models.CLIENTE

@{
    ViewBag.Title = "CLIENTE";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>CLIENTE</h3>
    </div>
</div>
<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">

<div class="form-horizontal">
  
    <hr />

    <div class="form-group">

        <label class="control-label col-md-2">NOMBRE</label>

        <div class="col-md-10">
            <input type="text" name="txtnombre" id="txtnombre" size="100" maxlength="100" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">DIRECCION</label>

        <div class="col-md-10">
            <input type="text" name="txtdireccion" id="txtdireccion" size="250" maxlength="250" class="form-control" />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">NIT</label>

        <div class="col-md-10">
            <input type="text" name="txtnit" id="txtnit" size="8" maxlength="8" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">TELEFONO</label>

        <div class="col-md-10">
            <input type="text" name="txttelefono" id="txttelefono" size="10" maxlength="10" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Nuevo" id="btnnuevocliente" name="btnnuevocliente" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/CLIENTE.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}