﻿
@{
    ViewBag.Title = "REPVISITACLIENTE";
    Layout = "~/Views/Shared/_layoutReportes.cshtml";
}

<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>  REPORTE DE CLIENTES</h3>
    </div>
</div>

<div class="reportes col-12  col-md-12 col-lg-12 col-xl-12">
    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "webdocumentcliente";
    }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new ADMONSKYPAGINAWEB.REPORTES.REPORTECLIENTES())).GetHtml()

</div>



