﻿@model ADMONSKYPAGINAWEB.Models.PERFIL

@{
    ViewBag.Title = "PERFIL";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>PERFIL</h3>
    </div>
</div>
<div class="form-horizontal">
    <h4>PERFIL</h4>
    <hr />


    <div class="form-group">
        <label class="control-label col-md-2">Rol</label>
        <div class="col-md-10">
            <select name="selrol" id="selrol" class="form-select">
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">PANTALLA</label>
        <div class="col-md-10">
            <select name="selpantalla" id="selpantalla" class="form-select">
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Nuevo" id="btnnuevoperfil" name="btnnuevoperfil" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/PERFIL.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}