﻿@model IEnumerable<ADMONSKYPAGINAWEB.Models.PERFIL>

@{
    ViewBag.Title = "PERFIL";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>PERFIL</h3>
    </div>
</div>


<div class="row col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12">


    <table class="table table-striped shadowblue">
        <thead class="table-dark">
            <tr>
                <th scope="col">

                    @Html.DisplayNameFor(model => model.ID_PERFIL)
                </th>
                <th scope="col">

                    @Html.DisplayNameFor(model => model.ID_ROL)
                </th>
                <th scope="col">

                    @Html.DisplayNameFor(model => model.ID_PANTALLA)
                </th>
                <th scope="col"></th>
            </tr>
        <thead />
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_PERFIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_ROL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_PANTALLA)
                    </td>
                    <td>
                        @Html.ActionLink("NUEVO", "Create") |
                        @Html.ActionLink("ELIMINAR", "Delete", new { id = item.ID_PERFIL })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

