﻿@model ADMONSKYPAGINAWEB.Models.PANTALLA

@{
    ViewBag.Title = "PANTALLA";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";
}
<br />
<div class="card text-dark" style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>PANTALLA</h3>
    </div>
</div>

<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">
<div class="form-horizontal">
    <h4>PANTALLA</h4>
    <hr />

    <div class="form-group">

        <label class="control-label col-md-2">NOMBRE</label>

        <div class="col-md-10">
            <input type="text" name="txtnombre" id="txtnombre" size="100" maxlength="100" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">DESCRIPCION</label>

        <div class="col-md-10">
            <input type="text" name="txtdescripcion" id="txtdescripcion" size="100" maxlength="100" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Estado</label>
        <div class="col-md-10">
            <select name="selestado" id="selestado" class="form-control">
                <option value="A">ACTIVO</option>
                <option value="I">INACTIVO</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Nuevo" id="btnnuevapantalla" name="btnnuevapantalla" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/PANTALLA.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
