﻿@model List<ADMONSKYPAGINAWEB.Models.VISITA_PROGRAMADA>

@{
    ViewBag.Title = "VISITA PROGRAMADA";
    Layout = "~/Views/Shared/_MENU_LAYOUT.cshtml";

}
<br />
<div class="card text-dark " style="max-width: 45rem;
        background-color: powderblue;
        box-shadow: 10px 10px 10px 10px darkblue;
">
    <div class="card-body">
        <h3>VISITA A CLIENTES</h3>
    </div>
</div>

@{
    //LENGUAJE DE SERVIDOR C#
    List<ADMONSKYPAGINAWEB.Models.VISITA_PROGRAMADA> Visitaprogramada = ViewBag.VISITACLIENTE;
}

<input type="hidden" id="idrol" value="
        @ViewData["ROL"]
       ">

<div class="form-horizontal">
    @foreach (var visita in Visitaprogramada)
    {

        <h2>ACTUALIZAR DATOS DE VISTA @visita.ID_VISITA_PROGRAMADA.ToString().TrimEnd()</h2>

    }




    <hr />

    <input type="hidden" id="idvisita" value="
             @foreach (var visita in Visitaprogramada)
                {

                    @visita.ID_VISITA_PROGRAMADA.ToString().TrimEnd();

                }
                 ">

    <div class="form-group">
        <label class="control-label col-md-2">CLIENTE</label>
        <div class="col-md-10">
            <select name="selcliente" id="selcliente" class="form-select">
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">USUARIO</label>
        <div class="col-md-10">
            <select name="selusuario" id="selusuario" class="form-select">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">DESCRIPCION</label>

        <div class="col-md-10">
            <input type="text" name="txtdescripcion" id="txtdescripcion" size="400" maxlength="400" class="form-control"
                   value="
                      @foreach (var visita in Visitaprogramada)
                      {

                    @visita.DESCRIPCION.ToString().TrimEnd();

                      } " />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">FECHA</label>

        <div class="col-md-10">
            <input type="text" id="datepicker" />
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2">Estado</label>
        <div class="col-md-10">
            <select name="selestado" id="selestado" class="form-control">
                <option value="A">ACTIVO</option>
                <option value="I">INACTIVO</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">OBSERVACION</label>

        <div class="col-md-10">
            <input type="text" name="txtobservacion" id="txtobservacion" size="150" maxlength="150" class="form-control"
                   value="
                      @foreach (var visita in Visitaprogramada)
                      {

                    @visita.OBSERVACION.ToString().TrimEnd();

                      } " />
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Actualizar" id="btnactualizarvisitacliente" name="btnactualizarvisitacliente" size="50" class="btn btn-block btn-success" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/VISITACLIENTE.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
}
