﻿@{
    ViewBag.Title = "Ingreso de Session";
}

    <div class="container">
        

            <form id="formlogin" name="formlogin" class="shadowblue bg-white">
                <center>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <br />
                     
                        <img src="~/Imagenes/LOGO.png"  width="350" height="150"/>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <br />
                        <label class="menulabel">Usuario:</label>
                        <input type="text" name="txtusuario" id="txtusuario" maxlength="100" class="menutext" />
                    </div>

                    <br />
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="menulabel">Contraseña:</label>
                        <input type="text" name="txtclave" id="txtclave" maxlength="11" class="menutext" />
                    </div>
                    <br />

                    <input type="submit" name="btlogin" id="btlogin" class="btn-success" value="INGRESAR" title="Ingresar a sistema" />
                </center>

            </form>

    </div>


@section Scripts{
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="~/Scripts/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="~/Scripts/Login.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/Menu.js"></script>
    <link href="~/Content/boostrap5/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/boostrap5/css/bootstrap-utilities.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

}

