﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Html.DevExpress().GetStyleSheets(
             new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
              new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
               new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.Report },
             new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
              new Script { ExtensionSuite = ExtensionSuite.Editors },
                    new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DevExtremeBundle")

<nav class="navbar navbar-expand-sm fixed-top" style="
        background-color: black;
        box-shadow: 10px 10px 10px 10px darkblue;
">>
    <!-- Links -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <div class="navbar-header">
            <img src="~/Imagenes/LOGO.png" id="logo" name="logo" width="200" height="50" />
        </div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" role="button">
                CONFIGURACION
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="CONFIGURACION">
                <li role="presentation" class="invisible" id="ROL"> @Html.ActionLink("ROL", "Index", "ROL")</li>
                <li role="presentation" class="invisible" id="PERFIL"> @Html.ActionLink("PERFIL", "Index", "PERFIL")</li>
                <li role="presentation" class="invisible" id="PANTALLA"> @Html.ActionLink("PANTALLA", "Index", "PANTALLA")</li>
                <li role="presentation" class="divider">CONFIGURACION DE USUARIO</li>
                <li role="presentation" class="invisible" id="EMPLEADO"> @Html.ActionLink("EMPLEADO", "Index", "EMPLEADO")</li>
                <li role="presentation" class="invisible" id="USUARIO"> @Html.ActionLink("USUARIO", "Index", "USUARIO")</li>
            </ul>

        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                CLIENTE
            </a>
            <ul class="dropdown-menu" role="menu" id="listamenuclientes" aria-labelledby="CLIENTE">
                <li role="presentation" class="invisible" id="CLIENTE"> @Html.ActionLink("CLIENTE", "Index", "CLIENTE")</li>
                <li role="presentation" class="divider">REPORTES</li>
                <li role="presentation" class="invisible" id="REPCLIENTES"> @Html.ActionLink("REPORTE CLIENTES", "REPCLIENTES", "CLIENTE")</li>

            </ul>

        </li>


        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                VISITA A CLIENTES
            </a>

            <ul class="dropdown-menu" role="menu" id="menuvista" aria-labelledby="menu1">
                <li role="presentation" class="invisible" id="VISITACLIENTES">@Html.ActionLink("VISITA A CLIENTES", "Index", "VISITACLIENTE")</li>
                <li role="presentation" class="invisible" id="DASVISITACLIENTES">@Html.ActionLink("TABLERO DE VISITAS", "DASTABLEROCLIENTES", "TABLERODEVISITAS")</li>
                <li role="presentation" class="invisible" id="REPVISITASCLIENTES">@Html.ActionLink("REPORTE DE VISITAS", "REPVISITACLIENTE", "VISITACLIENTE")</li>
            </ul>
        </li>
    </ul>
</nav>
</head>
<body class="stilobody">

    <div class="layoutreportes">
        @RenderBody()


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/DevExtremeBundle")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <footer class="card-footer">
            <p>&copy; @DateTime.Now.Year - ADMONSKY</p>
        </footer>
    </div>
</body>

</html>
